<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PS-Project</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <header class="App-header">
        <nav>
        <a href="/">Home</a>
        <a href="/retrieve">Get String</a>
        </nav>
    </header>
    <main>
    {% if request.args.get("success") %}
        <div class="alert success">
            ✓ Saved successfully!
        </div>
    {% endif %}
    {% if request.args.get("error") %}
        <div class="alert error">
            {{ request.args.get("error") }}
        </div>
    {% endif %}
        <div class="forms-container">
            <form action="/write/submit" method="post">
            <h2>User Information</h2><br/>
                <div class="form-grid">
                    <div class="form-group">
                        <label for="skey">String Key:</label>
                        <input type="text" id="skey" name="skey" required />
                    </div>
                </div>
                <div class="form-grid">
                    <div class="form-group">
                        <label for="svalue">String Value:</label>
                        <input type="text" id="svalue" name="svalue" required />
                    </div>
                </div>
                <button type="submit">Go save it!</button>
            </form>         
        </div>
    </main>
</body>
</html>
